main {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding: 0 2rem;
}

header h1 {
  font-size: 3rem;
  font-weight: unset;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 800px) and (max-height: 420px) {
  .wrapper {
    grid-template-columns: 3fr 3fr;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: unset;
    padding: 0 1rem;
  }
}
