main {
  text-align: center;
}

#logo {
  width: 100px;
  display: block;
  margin: auto auto 1rem auto;
}
aside {
  padding: 1rem;
  text-align: initial;
}
.wrapper {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding: 0 2rem;
}

header h1 {
  font-size: 3rem;
  font-weight: unset;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  aside {
    display: none;
  }
  .wrapper {
    grid-template-columns: unset;
    padding: 0 1rem;
  }
}
