.breed-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 4vw 1rem 9vw;
  height: calc(100vh - 9rem);
  overflow: auto;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 0 2rem 1rem 2rem;
}

@media only screen and (max-width: 800px) {
  .breed-list {
    margin: 1rem 4vw 1rem 6vw;
  }
}

@media only screen and (max-width: 600px) {
  .breed-list {
    padding: 0;
    margin: 1rem 0 0 0;
  }
}
